@import '@/styles/main.scss';

.settings {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-rows: max-content;

    @media (max-width: 1024px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  &__section {
    padding: 40px;
    background-color: $elements-bg;
    border-radius: 24px;

    @media (max-width: 1024px) {
      padding: 16px;
      border-radius: 16px;
    }

    &:first-child {
      grid-row: span 3 / span 3;
    }
  }

  &__title {
    color: $secondary-color;
    line-height: 60px;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      line-height: 36px;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    color: $secondary-color;
  }

  &__logoutWrapper {
    display: flex;
    justify-content: center;
  }
}

// About Me
.profileForm {
  &__avatar {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      width: 80px;
      height: 80px;
    }
  }

  &__avatarsGrid {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      gap: 12px;
      margin-bottom: 24px;
    }
  }

  &__gridAvatar {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 1024px) {
      width: 48px;
      height: 48px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    color: $secondary-color;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__input,
  &__textarea {
    width: 100%;
    outline: none;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid $color-gray-60;
    background-color: transparent;
    color: $primary-color;
    transition: border-color 0.2s;

    &:focus {
      border-color: $accent-purple;
    }
  }

  &__textarea {
    min-height: 120px;
    resize: none;
  }

  &__submit {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    min-width: 200px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

// Privacy & Security
.settingsPrivacy {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  flex-shrink: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #4b4d5a;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: $accent-purple;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }
}

.settingsSecurity {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.logoutBtn {
  display: flex;
  // align-items: center;
  gap: 8px;
  color: $color-status-error;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-1px);
  }
}
