@import '../../../styles/main.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 203px;

  .logo__icon {
    width: 52px;
    height: 52px;
  }

  .logoText {
    display: flex;
    flex-direction: column;
    color: $light-purple;
    font-family: $main-font;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
  }
}
