@import '@/styles/main.scss';

.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
  }
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.viewAllBtn {
  color: $secondary-color;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrowIcon {
  transition: transform 0.3s ease;
  margin-left: 8px;
}

.arrowIcon__expanded {
  transform: rotate(-90deg);
}
