@import '@/styles/main.scss';

.games {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include on-tablet {
    gap: 8px;
  }
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
