@import '@/styles/main.scss';

.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
  }
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
