@import '@/styles/main.scss';

.catalog {
  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  @include content-padding-inline();

  &__header {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include on-tablet {
      display: flex;
    }
  }

  &__filtersButton {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $secondary-color;
  }
}

.gameList {
  display: grid;
  grid-template-columns: repeat(4, minmax(231px, 1fr));
  gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(2, minmax(167px, 1fr));
    gap: 8px;
  }
}
