@import '@/styles/main.scss';

.catalog {
  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  @include content-padding-inline();

  &__header {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include on-tablet {
      display: flex;
    }
  }

  &__filtersButton {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $secondary-color;
  }
}

.gameList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  align-items: start;
  gap: 20px;
  list-style: none;
  padding: 0;

  @include on-tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
  }

  &_item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
