@import '@/styles/main.scss';

.breadcrumbs {
  margin-bottom: 24px;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    color: $primary-color;
  }

  &__separator {
    margin: 0 8px;
    user-select: none;
    color: $light-purple;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $secondary-color;
    }
  }

  &__current {
    color: $light-purple;
    font-weight: 500;
  }
}
