@import '@/styles/main.scss';

// --- OVERLAY ---
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

// --- MODAL ---
.modal {
  background-color: $elements-bg;
  border: 1px solid $color-gray-80;
  border-radius: 16px;
  width: 590px;
  padding: 40px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  transform: scale(0.95);
  animation: modal-appear 0.3s forwards;

  @keyframes modal-appear {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__close {
    display: flex;
    margin-left: auto;
    border: none;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;

    &:hover {
      transform: translateY(-1px);
    }
    &:active {
      transform: translateY(0);
    }
  }

  &__title {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 24px;
    line-height: 60px;
  }
}

// --- FORM STYLES ---

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      color: $secondary-color;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0%;
    }
  }

  &__input {
    width: 100%;
    padding: 18px 16px;
    border: 1px solid $color-gray-60;
    border-radius: 8px;
    background-color: $elements-bg;
    color: $secondary-color;
    transition: border-color 0.2s;

    &:focus {
      border-color: $secondary-color;
      outline: none;
    }
  }

  &__inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__inputToggle {
    position: absolute;
    right: 16px;
    color: $secondary-color;
    transition: background-color 0.2s ease, transform 0.15s ease;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__inputIcon {
    display: block;
  }

  &__inputError {
    border-color: $color-status-error;
  }

  &__error {
    color: $color-status-error;
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    animation: fade-in 0.3s forwards;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  &__button {
    margin-top: 20px;
  }

  &__buttonsGroup {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

// --- Switch Link ---

.switchLink {
  margin-top: 35px;
  text-align: center;
  color: $secondary-color;
  font-weight: 400;
}

.linkButton {
  color: $light-purple;
  font-weight: 500;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}
