@import '@/styles/main.scss';

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  background-color: $elements-bg;
  border-radius: 12px;
  padding: 24px;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.item {
  color: $secondary-color;
  text-decoration: none;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: opacity 0.2s;
}

.item:hover {
  opacity: 0.7;
}

.exit {
  color: $color-status-error;
  display: flex;
  align-items: center;
  gap: 4px;
}
