@mixin on-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
@mixin on-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  @include on-tablet {
    padding-inline: 16px;
  }

  @include on-desktop {
    // padding-inline: 32px;
  }
}
