@import './mixins';

/* --- H1: Teko SemiBold | 64px --- */
h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.02em;

  @include on-tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

/* --- H2: Teko Medium | 40px --- */
h2 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;

  @include on-tablet {
    font-size: 28px;
    line-height: 36px;
  }
}

/* --- H3: Hind SemiBold | 28px --- */
h3 {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

/* --- H4: Hind Medium | 24px --- */
h4 {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 18px;
    line-height: 27px;
  }
}

/* --- H5: Hind Regular | 20px --- */
h5 {
  font-family: 'Hind', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

/* --- Main text: Hind Regular | 20px --- */
.text-main {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 16px;
    line-height: 18px;
  }
}

/* --- Secondary text: Hind Regular | 16px --- */
.text-secondary {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 14px;
    line-height: 18px;
  }
}

/* --- Secondary text: Hind Semibold | 16px --- */
.text-secondary-semibold {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 12px;
    line-height: 16px;
  }
}

/* --- Small Text: Hind Regular | 14px --- */
.text-small {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

/* --- Buttons --- */
.btn-text-large {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn-text-small {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 14px;
    line-height: 18px;
  }
}
