$accent-color: #4219d0;
$secondary-accent: #f4ba47;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$bg-color: #fafbfc;
$hover-color: #fafbfc;
$white: #fff;
$tablet-width: 640px;
$desktop-width: 1200px;
$main-font: Mont, sans-serif;
