@import './variables';
@import './typography';
@import './mixins';
@import './reset';

body {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  color: $primary-color;
  background-color: $bg-color;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 0 64px;
  background-color: $bg-color;

  @include on-tablet {
    padding: 32px 0 64px;
  }

  @include on-desktop {
    padding: 80px 0 80px;
  }
}

.container {
  // @include content-padding-inline;

  @include on-desktop {
    max-width: 1320px;
    margin-inline: auto;
  }
}
