@import './variables';
@import './typography';
@import './mixins';
@import './reset';
@import './swiper';

@media screen and (min-width: $tablet-width) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    background-color: $bg-color;
  }
}

body {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  color: $primary-color;
  background-color: $bg-color;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  padding: 80px 0 130px;

  @include on-tablet {
    padding: 32px 0 100px;
  }
}

.container {
  // @include content-padding-inline;

  @include on-desktop {
    max-width: 1320px;
    margin-inline: auto;
  }
}
