@import '../../styles/main';

.game-details {
  color: $secondary-color;
}

.game-details__content {
  display: flex;
  gap: 24px;
}

/* Image */
.game-details__image-block {
  position: relative;
  flex-shrink: 0;
  width: 420px;
  border: 1px solid $color-gray-80;
  border-radius: 16px;

  .game-details__image {
    height: auto;
    display: block;
  }
}

.game-details__info {
  background-color: $elements-bg;
  border-radius: 16px;
  padding: 24px;
}

/* Header */
.game-details__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.game-details__title {
}

.game-details__year {
  color: $primary-color;
}

.game-details__rating {
  background-color: $light-purple;
  color: $color-gray-100;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  margin-left: auto;
}

/* Опис та Іконки статусу */
.game-details__description-wrapper {
  margin-bottom: 30px;
  display: flex;
}

.game-details__description-title {
  font-size: 18px;
  color: $secondary-color;
  margin-bottom: 16px;
}

.game-details__description-text {
  color: $primary-color;
  margin-bottom: 20px;
}

/* Іконки статусу */

.hoverContent {
  transition: opacity 0.25s ease;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 38px;
}

.iconButton {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  gap: 8px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(151, 88, 255, 0.8);
  }
}

.backlogIcon {
  background: url('../../assets/icons/save.svg');

  &:hover {
    background: url('../../assets/icons/save-filled.svg');
  }
}

.playIcon {
  background: url('../../assets/icons/in-progress.svg');

  &:hover {
    background: url('../../assets/icons/in-progress-filled.svg');
  }
}

.completedIcon {
  background: url('../../assets/icons/checkmark.svg');

  &:hover {
    background: url('../../assets/icons/checkmark-filled.svg');
  }
}

/* Деталі (Платформи, Жанри, Творець) */
.game-details__details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 0;
}

.game-details__detail-title {
  color: $secondary-color;
  margin-bottom: 16px;
}

.game-details__detail-value {
  color: $primary-color;
}
