@import '../../styles/main';

.gameDetails {
  color: $secondary-color;

  &__сontent {
    display: flex;
    gap: 24px;
  }

  /* Image */
  &__imageBlock {
    position: relative;
    flex-shrink: 0;
    width: 420px;
    border: 1px solid $color-gray-80;
    border-radius: 16px;
  }
  &__image {
    height: auto;
    display: block;
    object-fit: cover;
  }

  &__info {
    background-color: $elements-bg;
    border-radius: 16px;
    padding: 24px;
    flex-grow: 1;
  }

  /* Header */
  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__titleWrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
  }

  &__year {
    color: $primary-color;
  }

  &__rating {
    background-color: $light-purple;
    color: $color-gray-100;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
  }

  &__descriptionWrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__descriptionTitle {
    font-size: 18px;
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__descriptionText {
    color: $primary-color;
    margin-bottom: 20px;
  }

  &__detailsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0;
  }

  &__detailGroup {
  }

  &__detailTitle {
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__detailValue {
    color: $primary-color;
  }
}

/* Status icons */
.hoverContent {
  transition: opacity 0.25s ease;
  display: flex;
  gap: 38px;
  align-self: flex-start;
}

.iconButton {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  background-color: transparent;
}

.backlogIcon {
  background-image: url('../../assets/icons/save.svg');

  &:hover {
    background-image: url('../../assets/icons/save-filled.svg');
  }
}

.playIcon {
  background-image: url('../../assets/icons/in-progress.svg');

  &:hover {
    background-image: url('../../assets/icons/in-progress-filled.svg');
  }
}

.completedIcon {
  background-image: url('../../assets/icons/checkmark.svg');

  &:hover {
    background-image: url('../../assets/icons/checkmark-filled.svg');
  }
}
