@import '../../styles/main';

.gameDetails {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 130px;

  @include on-tablet {
    gap: 60px;
  }

  &__—Åontent {
    display: flex;
    gap: 24px;

    @include on-tablet {
      flex-direction: column;
    }
  }

  /* Image */
  &__imageBlock {
    position: relative;
    flex-shrink: 0;
    width: 420px;

    @include on-tablet {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

    @include on-tablet {
      border-radius: 12px;
    }
  }

  &__info {
    background-color: $elements-bg;
    border-radius: 16px;
    padding: 24px;
    flex-grow: 1;

    @include on-tablet {
      background-color: inherit;
      padding: 0;
    }
  }

  /* Header */
  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__titleWrapper {
    display: flex;
    flex-direction: column;
  }

  &__year {
    color: $primary-color;
  }

  &__rating {
    background-color: $light-purple;
    color: $color-gray-100;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
  }

  &__descriptionWrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__descriptionTitle {
    color: $secondary-color;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
  }

  &__descriptionText {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    color: $primary-color;
    margin-bottom: 20px;
    flex: 1;
  }

  &__detailsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }

  &__detailTitle {
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__detailValue {
    color: $primary-color;
  }
}

.statusBtn {
  &__onMobile {
    display: none;
    @include on-tablet {
      display: grid;
    }
  }

  &__onDesktop {
    display: grid;
    @include on-tablet {
      display: none;
    }
  }
}
