@import '../../styles/main';

.gameDetails {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;

  &__—Åontent {
    display: flex;
    gap: 24px;
  }

  /* Image */
  &__imageBlock {
    position: relative;
    flex-shrink: 0;
    width: 420px;
    border: 1px solid $color-gray-80;
    border-radius: 16px;
  }
  &__image {
    height: auto;
    display: block;
    object-fit: cover;
  }

  &__info {
    background-color: $elements-bg;
    border-radius: 16px;
    padding: 24px;
    flex-grow: 1;
  }

  /* Header */
  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__titleWrapper {
    display: flex;
    flex-direction: column;
  }

  &__year {
    color: $primary-color;
  }

  &__rating {
    background-color: $light-purple;
    color: $color-gray-100;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
  }

  &__descriptionWrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__descriptionTitle {
    color: $secondary-color;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
  }

  &__descriptionText {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    color: $primary-color;
    margin-bottom: 20px;
    flex: 1;
  }

  &__detailsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0;
  }

  &__detailTitle {
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__detailValue {
    color: $primary-color;
  }
}
