@import '@/styles/main.scss';

// --- OVERLAY ---
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

// --- MODAL ---
.modal {
  background-color: $elements-bg;
  border: 1px solid $color-gray-80;
  border-radius: 16px;
  width: 590px;
  padding: 40px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  transform: scale(0.95);
  animation: modal-appear 0.3s forwards;

  @keyframes modal-appear {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__close {
    display: flex;
    margin-left: auto;
    border: none;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;

    &:hover {
      transform: translateY(-1px);
    }
    &:active {
      transform: translateY(0);
    }
  }

  &__title {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 24px;
    line-height: 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
