@import '../../styles/main';

.auth {
  display: flex;
  gap: 24px;
  margin-left: auto;
  color: $light-purple;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;

  &__login {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 40px;
  }
  &__loginIcon {
    color: $light-purple;
    border: 1px solid $light-purple;
  }

  &__register {
    padding: 9px 16px 8px;
    border-radius: 12px;
    border: 1px solid $light-purple;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }
}
