.auth {
  display: flex;
  gap: 16px;
}

.link {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.primary {
  padding: 6px 14px;
  border-radius: 12px;
  background: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
