@import '../../styles/main.scss';

.header {
  background-color: $bg-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    padding: 40px 0 8px 0;

    display: flex;
    align-items: center;
    gap: 20px;

    > :nth-child(2) {
      flex: 1;
    }
  }
}
