@import '../../styles/main.scss';

.header {
  background-color: $bg-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    padding: 40px 0 8px 0;

    display: flex;
    align-items: center;
    gap: 20px;

    > :nth-child(2) {
      flex: 1;
    }

    @include on-tablet {
      padding: 32px 0 8px 0;
    }
  }

  &__nav,
  &__auth {
    display: flex;
    align-items: center;
    gap: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__searchbarMobile {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1;
    max-width: 100%;
  }

  &__searchIcon {
    display: none;
    margin-left: auto;
    cursor: pointer;

    @include on-tablet {
      display: flex;
    }
  }

  &__closeIcon {
    cursor: pointer;
    color: $secondary-color;
  }
}

.burger {
  display: none;

  @include on-tablet {
    display: flex;
  }
}
