@import '../../styles/main.scss';

.header {
  background-color: #f2f2f2;

  &__content {
    width: 100%;
    padding: 16px 32px;

    display: flex;
    align-items: center;
    gap: 24px;

    > :nth-child(2) {
      flex: 1;
    }
  }
}

.logo {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}
