@import '../../styles/main.scss';

.header {
  background-color: $bg-color;

  &__content {
    width: 100%;
    padding: 40px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    > :nth-child(2) {
      flex: 1;
    }
  }
}

.logo {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}
