.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  opacity: 0.7;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.active {
  font-weight: 600;
  opacity: 1;
}
