@import '../../styles/main.scss';

.search {
  display: flex;
  align-items: center;

  max-width: 427px;
  width: 100%;

  background: $bg-color;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid $color-gray-60;
  line-height: 20px;
}

.icon {
  font-size: 18px;
  opacity: 0.6;
  line-height: 0;
}

.input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
