@import '../../styles/main.scss';

.hero {
  background: $bg-color;
  padding: 50px 0 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: radial-gradient(
    ellipse at center,
    rgba(151, 88, 255, 0.2) 0%,
    rgba(151, 88, 255, 0.15) 25%,
    rgba(151, 88, 255, 0.08) 45%,
    rgba(151, 88, 255, 0.03) 60%,
    rgba(11, 12, 24, 0) 70%
  );

  @include on-tablet {
    padding: 80px 0 125px;
  }

  @include content-padding-inline();

  &__title {
    color: $secondary-color;
    max-width: 874px;
    margin-bottom: 40px;
  }

  &__btn {
    width: 204px;
  }
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include on-tablet {
    gap: 48px;
  }
}
