@import '../../styles/main.scss';

.footer {
  padding-bottom: 40px;

  &__navigation {
    display: flex;
    align-items: start;
    gap: 32px;
    flex-shrink: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 538px;
    flex-grow: 1;
  }

  &__newsletterTitle {
    color: $secondary-color;
  }

  &__newsletterForm {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__policy {
    color: $primary-color;
  }
}

.input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid $color-gray-60;
}
