@import '../../styles/main.scss';

.footer {
  padding-bottom: 40px;
  background-color: $bg-color;

  @include content-padding-inline();

  &__navigation {
    display: flex;
    align-items: start;
    gap: 32px;
    flex-shrink: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include on-tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 538px;
    flex-grow: 1;

    @include on-tablet {
      max-width: none;
      width: 100%;
    }
  }

  &__newsletterTitle {
    color: $secondary-color;
  }

  &__newsletterForm {
    display: flex;
    align-items: center;
    gap: 20px;

    @include on-tablet {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__policy {
    color: $primary-color;
  }
}

.input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid $color-gray-60;
}
