@import '../../styles/main';

.notFound {
  min-height: calc(100dvh - 160px);
  display: grid;
  place-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  &__title {
    font-size: 274px;
    line-height: 260px;
    color: $dark-purple;
  }

  &__subtitle {
    color: $primary-color;
    font-size: 20px;
    line-height: 24px;
  }

  &__text {
    color: $secondary-color;
  }

  &__returnBtn {
    display: flex;
    width: 204px;
    margin: 24px auto 0 auto;
  }
}
