@import '../../styles/main.scss';

.card {
  background: $elements-bg;
  border-radius: 16px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 231px;
  height: 412px;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.25);
  }
}
.large {
  width: 315px;
  height: 514px;

  .imageWrapper {
    height: 374px;
  }
}

/* ----- IMAGE SECTION ----- */

.imageWrapper {
  position: relative;
  width: 100%;
  height: 274px;
  overflow: hidden;
  border-radius: 16px 16px 0 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(11, 12, 24, 0.7);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
  }
}
.card:hover .imageWrapper::after {
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.25s ease;
}

.card:hover .image {
  scale: 1.05;
}

/* ----- HOVER OVERLAY ICONS ----- */

.hoverContent {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.card:hover .hoverContent {
  opacity: 1;
  pointer-events: auto;
}

/* ----- CONTENT SECTION ----- */

.info {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  color: $primary-color;
}

.rating {
  min-width: 38px;
  background: $light-purple;
  color: $color-gray-100;
  padding: 6px 8px 4px;
  border-radius: 6px;
  text-align: center;
}

.title {
  color: $secondary-color;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
