@import '../../styles/main.scss';

.card {
  background: $elements-bg;
  border-radius: 16px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 100%;
  min-height: 412px;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.25);
  }
}

/* ----- IMAGE SECTION ----- */

.imageWrapper {
  position: relative;
  width: 100%;
  min-height: 274px;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.25s ease;
}

.card:hover .image {
  scale: 1.05;
}

/* ----- HOVER OVERLAY ICONS ----- */

.hoverContent {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 12px;
}

.card:hover .hoverContent {
  opacity: 1;
  pointer-events: auto;
}

.iconButton {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(151, 88, 255, 0.8);
  }
}

.backlogIcon {
  background: url('../../assets/icons/save.svg');

  &:hover {
    background: url('../../assets/icons/save-filled.svg');
  }
}

.playIcon {
  background: url('../../assets/icons/in-progress.svg');

  &:hover {
    background: url('../../assets/icons/in-progress-filled.svg');
  }
}

.completedIcon {
  background: url('../../assets/icons/checkmark.svg');

  &:hover {
    background: url('../../assets/icons/checkmark-filled.svg');
  }
}

/* ----- CONTENT SECTION ----- */

.info {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  color: $primary-color;
}

.rating {
  min-width: 38px;
  background: $light-purple;
  color: $color-gray-100;
  padding: 4px 8px;
  border-radius: 6px;
  text-align: center;
}

.title {
  color: $secondary-color;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
