@import '@/styles/main.scss';

.filters {
  min-width: 314px;
  padding: 32px;
  background-color: #1e1f2b;
  color: #dfe0ee;
  border: 1px solid #222;
  border-radius: 12px;
  max-height: fit-content;

  @include on-tablet {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: $color-gray-90;
    border-radius: 0;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease;

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    &__open {
      display: flex;
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
      transition: all 0.3s ease;
      max-height: 100vh;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  &__section {
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(165, 166, 179, 0.3);
  }

  &__sectionTitle {
    margin-bottom: 16px;
    font-weight: 600;
    color: #fff;
  }

  &__list {
    padding-bottom: 16px;
    list-style: none;
  }

  &__listItem {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  &__close {
    cursor: pointer;
  }

  &__resetBtn {
    background: none;
    border: none;
    color: $light-purple;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.checkbox__active {
  background-color: $light-purple;
  border-color: $light-purple;
}
