@import '@/styles/main.scss';

.filters {
  min-width: 314px;
  padding: 32px;
  background-color: #1e1f2b;
  color: #dfe0ee;
  border: 1px solid #222;
  border-radius: 12px;
  max-height: fit-content;

  @include on-tablet {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: $color-gray-90;
    border-radius: 0;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease;

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    &__open {
      display: flex;
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
      transition: all 0.3s ease;
      max-height: 100vh;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  &__section {
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(165, 166, 179, 0.3);
  }

  &__sectionTitle {
    font-weight: 600;
    color: #fff;
  }

  &__list {
    padding-bottom: 16px;
    list-style: none;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 8px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      margin-bottom: 8px;
      border-radius: 8px;
      background: $color-gray-10;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-gray-60;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #666;
    }
  }

  &__listItem {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $light-purple;
    }
  }

  &__close {
    cursor: pointer;
  }

  &__resetBtn {
    background: none;
    border: none;
    color: $light-purple;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.checkbox__active {
  background-color: $light-purple;
  border-color: $light-purple;
}

.yearsRow {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.yearInputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.yearLabel {
  color: $secondary-color;
}

.yearInput {
  border: 1px solid $color-gray-60;
  border-radius: 12px;
  padding: 12px 16px;
  color: $primary-color;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $light-purple;
    color: $secondary-color;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.filters__dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  text-align: left;
}

.dropdownArrow {
  transition: transform 0.3s ease;
  color: $secondary-color;
  transform: rotate(180deg);
}

.dropdownArrow__active {
  transform: rotate(360deg);
}

.filters__section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
}

.dropdownContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.3s ease-out,
    opacity 0.2s;
  opacity: 0;
  visibility: hidden;

  &__open {
    grid-template-rows: 1fr;
    opacity: 1;
    visibility: visible;
  }
}

.dropdownInner {
  overflow: hidden;
}
