@import '@/styles/main.scss';

.menu {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease;

  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;

  padding-top: 32px;

  &.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__title {
    color: $secondary-color;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  &__button {
    margin-bottom: 24px;
  }

  &__register {
    text-align: center;
    color: $secondary-color;
  }

  &__registerLink {
    color: $light-purple;
    font-weight: 500;
  }
}
